Q.1Convert given hrs & mins in second

In [ ]:
hr=int(input('enter hours: '))
min=int(input('enter minutes: '))
sec=(hr*3600)+(min*60)
print(hr,'hours and',min,'minutes are total',sec,'seconds.')

enter hours: 3
enter minutes: 15
3 hours and 15 minutes are total 11700 seconds.

Q.3 print pattern

In [ ]:
for i in range(1,6,1):
  for j in range(1,i+1,1):
    print(j%2,end=" ")
  print()

1
1 0
1 0 1
1 0 1 0
1 0 1 0 1

Q8.PRINT PATTERN

In [ ]:
a='13567'
for i in range(0,len(a)):
    print(a[i]*(i+1))

1
33
555
6666
77777

Q10.Create menu driven code for
1) Accept 2 numbers
2) Add
3) Sub
4) Mul
5) Div

In [ ]:
class math:
  def __init__(self,a,b):
    self.a=a
    self.b=b
  def Add(self):
    return self.a+self.b
  def Sub(self):
    return self.a-self.b
  def Mul(self):
    return self.a*self.b
  def Div(self):
    return self.a/self.b

In [ ]:
x=math(10,5)

In [ ]:
print(x.Add())
print(x.Sub())
print(x.Mul())
print(x.Div())

15
5
50
2.0

Q9.Accept String & print only alternate
characters on a string.
Ex: this i s a _ test

In [ ]:
s=input("enter the string: ")
print(s[1::2])

enter the string: rushikesh
uhks

Q.6) Read file & count numbers of digit
alphabets & symbols
(hint one can compare using ‘a’ < digit <
‘z‘.

In [ ]:
a=input("enter a string : ")
d=l=0
for c in a:
  if c.isdigit():
      d=d+1
  elif c.isalpha():
      l=l+1
  else:
      pass
  print("letters",l)
  print("Digits",d)

enter a string : rushikesh1997
letters 1
Digits 0
letters 2
Digits 0
letters 3
Digits 0
letters 4
Digits 0
letters 5
Digits 0
letters 6
Digits 0
letters 7
Digits 0
letters 8
Digits 0
letters 9
Digits 0
letters 9
Digits 1
letters 9
Digits 2
letters 9
Digits 3
letters 9
Digits 4

Q.10) Create menu driven code for
1) Accept 2 numbers
2) Add
3) Sub
4) Mul
5) Div

In [ ]:
while True:
  a=input(print("1)Accept 2 numbers\n2)add\n3)sub\n4)mul\n5)div\n6)exit"))
  if a=='1':
    b=int(input("enter first number: "))
    c=int(input("enter second number: "))
  elif a=='2':
    print("addition of",b,'and',c,'is',b+c)
  elif a=='3':
    print("subtraction of",b,'and',c,'is',b-c)
  elif a=='4':
    print("multiplication of",b,'and',c,'is',b*c)
  elif a=='5':
    print("division of",b,'and',c,'is',b/c)
  elif a=='6':
    print("exit")
    break

1)Accept 2 numbers
2)add
3)sub
4)mul
5)div
6)exit
1
enter first number: 23
enter second number: 45
1)Accept 2 numbers
2)add
3)sub
4)mul
5)div
6)exit
2
addition of 23 and 45 is 68
1)Accept 2 numbers
2)add
3)sub
4)mul
5)div
6)exit